<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>indexCeee</title>
</head>
<body>
    <h1> Dome 模版 索引 </h1>

    <a href='/admin/'>数据管理</a>

    <h5> views </h5>

    <a href='/demo/returnText'>返回方式_文本返回</a>
    <a href='/demo/returnNotFound'>返回方式_文本返回 _ 404 带错误返回</a>
    <a href='/demo/returnTextStatus'>返回方式_文本返回 _带状态码</a>
    <a href='https://www.runoob.com/'>runoob网页跳转</a>


    <h5> viewsTemplates </h5>

    <a href='/demo/viewsTemplates/variate'>模板HTML 接收变量</a>
    <a href='/demo/viewsTemplates/variateList'>模板HTML 接收 列表 变量</a>
    <a href='/demo/viewsTemplates/variateFilter'>模板HTML 接收 变量 过滤器</a>
    <a href='/demo/viewsTemplates/staticFileSet'>staticFileSet 静态文件设置</a>


    <h5> viewsStatic </h5>

    <a href='/demo/viewsStatic/index'>静态文件导入</a>
    <a href='/demo/viewsStatic/vueLearn'>vue 模版 使用案例</a>


    <h5> viewsRest </h5>

    <a href='/viewsRest/blog/'>Rest Api 数据</a>

    <h5> viewsClass </h5>

    <a href='/demo/viewsClass/index'>类视图 index </a>



    <h1> image 模版 索引 </h1>

    <h5> views </h5>

    <a href='/image/'>图片初版</a>
    <a href='/image/imgDowmload'>图片下载</a>
    <a href='/image/qrcodeCreate/index'>创建二维码</a>

    <a href='/image/showimage'>显示图片</a>

    <a href='/image/upload'>模版上传图片</a>
    <a href='/image/show'>模版显示图片</a>



</body>
</html>